$sans:          "Open Sans", Helvetica, sans-serif;
$heading:       "Pirata One", Helvetica, sans-serif;

$artichoke:     #918B76;
$grullo:        #ACA885;
$gold:          #BAA953;
$gold-pale:     #E1CA96;
$cool-neutral:  #FFFCF6;
$purple:        #2b0b2d;
$white:         #ffffff;
$black:         #000;

$tablet:        768px;
$desktop:       980px;

$transition:    0.2s linear;
